.slider{
    display: flex;
    justify-content: center;
    margin-bottom:40px ;
}
.tag h1{
    margin-top: 60px;
    margin-right: 60px;
    font-size: 60px;
}
tag{

    margin-right:30px ;
    padding: 20px;
}
.text{
    
    width: 900px;
}
.text h4{
    
   text-align: start;
}
/* make responsive */
@media only screen and (max-width: 688px) {

    .text{
    
        width: auto;
    }
}