.image-container img{
    width: 500px;
}
.about-container{
    display: flex;
    justify-content:space-around;
}
.about-us{
    width: 600px;
}
.about-us p{
    text-align: start;
}
.contact-container{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    background-color: rgb(231 231 231);
}
.contact-us{
    width: 500px;
}
.contact-us p{
    text-align: start;
}
.icon{
    text-align: start;
}
.font-icons{
    
    font-size: 25px;
    margin-right: 5px ;
}
/* make responsive */
@media only screen and (max-width: 688px) {
    .image-container img{
        width: 300px;
    }
    .about-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .about-us p{
        width:80%;
        text-align: center;
    }
}